@code {
  [Parameter]
  public double XCoordinate { get; set; }

  [Parameter]
  public double YCoordinate { get; set; }

  [Parameter]
  public int Size { get; set; }

  [Parameter]
  public string Color { get; set; }

  private string GetTransformStyle()
  {
    var transform = $"translate({XCoordinate + 22}px, {YCoordinate - 40}px)";
    return transform;
  }

  private string GetSizeStyle()
  {
    return $"font-size: {Size}px;";
  }

  private string GetColorStyle()
  {
    return $"color: {Color};";
  }
}

<div class="projectile" style="@($"transform: {GetTransformStyle()}; {GetSizeStyle()}; {GetColorStyle()};")">
  &#8226;
</div>

<style>
  .projectile {
    display: flex;
    position: absolute;
    transform-origin: center;
    transition: transform 0.05s linear;
  }
</style>