@page "/"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject SignalREnv SignalREnv
@inject NavigationManager NavManager
@inject IToastService ToastService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <input type="text" class="form-control mb-2" placeholder="Username" @bind="username">
          <input type="password" class="form-control mb-2" placeholder="Password" @bind="password">
          <button class="btn btn-primary" @onclick="Login">Login</button>
          <p>Message: @message</p>
        </div>
      </div>
    </div>
  </div>
</div>
