@page "/waitingroom/{LobbyId:int}"
@inject NavigationManager NavigationManager
@inject SignalREnv signalREnv
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IToastService ToastService


@if (lobbyState != null)
{
  <h1>WaitingRoom please wait</h1>

  @if (lobbyState.IsOwner)
  {
    <button @onclick="StartGame" class="btn btn-primary">Start Game</button>
  }
}
else
{
  <h1>Loading WaitingRoom Information </h1>
}