@page "/waitingroom/{LobbyId:int}"
@using Asteroids.Shared.GameEntities
@inject NavigationManager NavigationManager
@inject SignalREnv signalREnv
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IToastService ToastService


@if (lobbyState != null)
{
  @if (lobbyState.CurrentStatus == LobbyStatus.InGame)
  {
    <PlayArea LobbySate=@lobbyState />
  }
  else
  {
    <h1>WaitingRoom please wait</h1>

    @if (lobbyState.IsOwner)
    {
      <button @onclick="StartGame" class="btn btn-primary">Start Game</button>
    }
  }
}
else
{
  <h1>Loading WaitingRoom Information </h1>
}