@page "/waitingroom/{LobbyId:int}"
@using Asteroids.Shared.GameEntities
@inject NavigationManager NavigationManager
@inject SignalREnv signalREnv
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IToastService ToastService


<div class="container-lg d-flex flex-column justify-content-center align-items-center" style="height: 90vh">
  @if (gameState != null)
  {
    @if (gameState.CurrentStatus == LobbyStatus.WaitingForPlayers)
    {
      <h1>Waiting Room</h1>
      <h4>Waiting for game to start</h4>

      @if (gameState.IsOwner)
      {
        <button @onclick="StartGame" class="btn btn-primary">Start Game</button>
      }
    }
    else
    {
      <PlayArea State=@gameState EventCallback=@HandleKeyPress />
      <div class="btn btn-danger" @onclick="KillLobby"> Kill Lobby</div>

    }
  }
  else
  {
    <h1>Loading WaitingRoom Information </h1>
  }
</div>